@font-face {
    font-family: "ansungESG";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/ansungESG/ansungESG.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/ansungESG/ansungESG.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/ansungESG/ansungESG.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/ansungESG/ansungESG.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/ansungESG/ansungESG.ttf") format("truetype");
    font-display: swap;
}
.ansungESG {
    font-family: "ansungESG";
}